# 3.1 Khám phá dữ liệu

In [3]:
import pandas as pd

In [5]:
#1 Đọc file stocks1.csv vào DataFrame stocks1 
file_path = r"D:\17A3KHDL\LAB3\Data\stocks1.csv"
stocks1 = pd.read_csv(file_path)
print(stocks1)

        date symbol     open     high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97      NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.15   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.75   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.00   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.49   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.44   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30   1166559

In [12]:
#2 Hiển thị 5 dòng đầu tiên của stocks1 
print("\n5 dòng đầu tiên của stocks1")
print(stocks1.head(5))

5 dòng đầu tiên của stocks1
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [13]:
#3 Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1
print("\n Kiểu dữ liệu của mỗi cột:")
print(stocks1.dtypes)

 Kiểu dữ liệu của mỗi cột:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [14]:
#4 Xem thông tin tổng quan (info) của stocks1
print("\n Thông tin tổng quan về stocks1:")
stocks1.info()

 Thông tin tổng quan về stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

# 3.2 Xử lí dữ liệu Null

In [4]:
#1 Kiểm tra stocks1 có dữ liệu Null nào hay không 
print("\n Kiểm tra dữ liệu Null trong stocks1:")
print(stocks1.isnull().sum())

 Kiểm tra dữ liệu Null trong stocks1:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

In [5]:
#2 Thay thế dữ liệu Null ở cột high bằng giá trị trung bình ở cột high 
if 'high' in stocks1.columns:
    mean_high = stocks1['high'].mean()
    stocks1['high'].fillna(mean_high, inplace=True)
    print("\nĐã thay thế dữ liệu Null ở cột 'high' bằng giá trị trung bình:", mean_high)

Đã thay thế dữ liệu Null ở cột 'high' bằng giá trị trung bình: 943.5115384615384

C:\Users\dinht\AppData\Local\Temp\ipykernel_15548\2895039200.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['high'].fillna(mean_high, inplace=True)

In [6]:
#3 Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low
if 'low' in stocks1.columns:
    mean_low = stocks1['low'].mean()
    stocks1['low'].fillna(mean_low, inplace=True)
    print("\nĐã thay thế dữ liệu Null ở cột 'low' bằng giá trị trung bình:", mean_low)

Đã thay thế dữ liệu Null ở cột 'low' bằng giá trị trung bình: 926.7753846153846

C:\Users\dinht\AppData\Local\Temp\ipykernel_15548\1391813741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['low'].fillna(mean_low, inplace=True)

In [7]:
#4 Hiển thị thông tin tổng quan
print("\nThông tin tổng quan sau khi xử lý dữ liệu Null:")
stocks1.info()

Thông tin tổng quan sau khi xử lý dữ liệu Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

# 3.3 Gộp dữ liệu và phân tích cơ bản

In [3]:
#1, Đọc file stocks2.csv vào DataFrame stocks2 
stocks2 = pd.read_csv(r"D:\17A3KHDL\LAB3\Data\stocks2.csv")
print(stocks2)

       date symbol    open      high     low   close    volume
0  01-03-19     FB  162.60  163.1320  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.5000  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.8800  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.5700  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.7400  167.61  169.13  18306504
5  01-03-19   TSLA  306.94  307.1300  291.90  294.79  22911375
6  04-03-19   TSLA  298.12  299.0000  282.78  285.36  17096818
7  05-03-19   TSLA  282.00  284.0000  270.10  276.54  18764740
8  06-03-19   TSLA  276.48  281.5058  274.39  276.24  10335485
9  07-03-19   TSLA  278.84  284.7000  274.25  276.59   9442483

In [ ]:
#2 Gộp stocks1 và stocks2

In [4]:
stocks = pd.concat([stocks1, stocks2])
stocks

        date symbol     open       high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [12]:
#3 Tính giá trung bình (open, high, low, close) cho mỗi ngày
stocks['date'] = pd.to_datetime(stocks['date'])  # Đảm bảo cột 'date' là kiểu datetime
daily_avg = stocks.groupby('date')[['open', 'high', 'low', 'close']].mean().reset_index()
daily_avg

C:\Users\dinht\AppData\Local\Temp\ipykernel_15548\3217996371.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  stocks['date'] = pd.to_datetime(stocks['date'])  # Đảm bảo cột 'date' là kiểu datetime

        date     open        high         low    close
0 2019-01-03  684.770  692.528400  680.446000  688.952
1 2019-04-03  693.940  702.392000  685.126000  694.510
2 2019-05-03  695.664  656.638308  645.395077  695.558
3 2019-06-03  696.502  548.329468  540.373077  690.016
4 2019-07-03  689.460  691.478000  673.860000  677.494

In [14]:
#4 Hiển thị 5 dòng đầu tiên của kết quả
print("\n 5 dòng đầu tiên của kết quả")
print(daily_avg.head())

 5 dòng đầu tiên của kết quả
        date     open        high         low    close
0 2019-01-03  684.770  692.528400  680.446000  688.952
1 2019-04-03  693.940  702.392000  685.126000  694.510
2 2019-05-03  695.664  656.638308  645.395077  695.558
3 2019-06-03  696.502  548.329468  540.373077  690.016
4 2019-07-03  689.460  691.478000  673.860000  677.494

# Lab 3.4 Kết hợp dữ liệu từ nhiều nguồn

In [2]:
#1 Đọc file companies.csv vào DataFrame companies
companies = pd.read_csv(r"D:\17A3KHDL\LAB3\Data\companies.csv")
companies

   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

In [3]:
# Hiển thị 5 dòng đầu tiên
print("\n 5 dòng đầu tiên là:", companies.head())

 5 dòng đầu tiên là:    name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

In [ ]:
# Kết hợp stocks và companies dựa trên cột chung là symbol 
ket_hop = pd.merge(stocks, companies, on='symbol', how='inner')
ket_hop
# Ở file companies không có cột symbol nên không kết hợp được trên cột symbol

In [ ]:
# Tính giá đóng cửa trung bình 
# Thiếu cột dữ liệu

In [ ]:
# 1. Tạo MultiIndex cho DataFrame bằng cột 'date' và 'symbol'
stocks.set_index(['date', 'symbol'], inplace=True)

In [7]:
print(stocks.columns)

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')